*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fundoCadastro{
    background: linear-gradient(to right, #3a4e7b, #191e3b, #3a4e7b);   
    height: 100vh;
    width: 100vw;
}

.divFormCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.sheetCadastro{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 18px;
    height: 50%;
    width: 30%;
}



