
.v-layout {
  min-height: 100vh;
}


.sticky-summary {
  position: sticky;
  top: 20px; 
  align-self: flex-start; 
}


.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}