
.divPalavrasChaves{
    padding: 18px;
}
.divLabelSlider{
    display: flex;
    justify-content: space-between;
    padding: 18px;
}
.sliderFiltro{
    padding: 0 12px 0 12px;
}
.subtitleConservacao{
    padding: 18px;
}
.subtitleCategoria{
    padding: 18px 18px 6px 18px;
}
.comboboxCategoria{
    padding: 0 12px 0 12px;
}
.divHeaderMain{
padding: 18px;
}

.divItens{
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    width: 100%;
    padding: 18px;
}
.divImgItem{
    display: flex;
    width: 100%;
    justify-content: center;
}
.divBtnAdicionar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}